@model MwProject.Core.ViewModels.ProjectViewModel
@* Widok częściowy z kalkulacjami powiązanymi z projektem *@

@{
    var projectCalculations = Model.Project.Calculations;
}

<div class="row">


    <div class="row g-0">
        <div class="col-12 mb-2">
            <h4>Kalkulacja Kosztów TKW</h4>
        </div>

        <div class="col-12">
            @if (Model.Project.IsCalculationConfirmed == false)
            {
                <button class="btn btn-outline-success btn-sm"
                        onclick='window.location.href = "@Url.Action("Calculation","Calculation",new { projectId = Model.Project.Id })"'>
                    Dodaj
                </button>



                <button class="btn btn-outline-warning btn-sm"
                        onclick="confirmCalculation('@Model.Project.Id',this)">
                    Akceptuj
                </button>

            }
            else
            {
                @if (Model.Project.IsAccepted == false)
                {
                    <button class="btn btn-outline-warning btn-sm"
                            onclick="withdrawConfirmationOfCalculation('@Model.Project.Id',this)">
                        Wycofaj Potwierdzenie
                    </button>
                }
            }

        </div>
    </div>

    @if (projectCalculations != null && projectCalculations.Any())
    {

        <table class="table table-hover table-striped mt-3 mb-5">
            <thead class="table-success">
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">TKW</th>
                    <th scope="col">CKW</th>
                    <th scope="col">Materiały</th>
                    <th scope="col">Robocizna</th>
                    <th scope="col">Pakowanie</th>
                    <th scope="col">Narzut</th>
                    <th scope="col">Koszty Ogólne %</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var position in projectCalculations)
                {
                <tr>
                    <td>
                        @if (Model.Project.IsCalculationConfirmed == false)
                        {
                            <a class="font-weight-bold"
                               href="@Url.Action("Calculation", "Calculation", new { projectId = position.ProjectId, Id = position.Id })">
                                @position.OrdinalNumber
                            </a>
                        }
                        else
                        {
                            @position.OrdinalNumber
                        }
                    </td>

                    <td>@position.Title</td>
                    <td><strong>@position.Tkw.ToString("c")</strong></td>
                    <td><strong>@position.Ckw.ToString("c")</strong></td>
                    <td><strong>@position.MaterialCosts.ToString("c")</strong></td>
                    <td><strong>@position.LabourCosts.ToString("c")</strong></td>
                    <td><strong>@position.PackingCosts.ToString("c")</strong></td>
                    <td><strong>@position.Markup.ToString("c")</strong></td>
                    <td><strong>@position.GeneralCostsInPercent.ToString("n")</strong></td>
                    <td align="right">
                        @if (Model.Project.IsCalculationConfirmed == false)
                        {
                            <button class="btn btn-outline-danger btn-sm"
                                    onclick="deleteCalculation('@position.ProjectId','@position.Id',this)">
                                Usuń
                            </button>
                        }
                    </td>
                </tr>
                }

            </tbody>
        </table>
    }
</div>

@section scripts
{
    <script type="text/javascript">
                              // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                              // deleteCalculation()
    </script>
}