@model MwProject.Core.ViewModels.ProjectViewModel

@* Widok częściowy z wymaganiami powiązanymi z projektem *@

<div class="row">
    

    <table>
        <tr>
            <td>
                <h2>Wymagania Ekonomiczne</h2>
            </td>
            <td align="left" valign="middle">
                <button class="btn btn-success btn-sm"
                        onclick='window.location.href = "@Url.Action("ProjectRequirement","ProjectRequirement",new { projectId = Model.Project.Id, type = 1 })"'>
                    Dodaj
                </button>
            </td>
        </tr>
    </table>
    

    

    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Wymaganie</th>
                <th scope="col"></th>
                <th scope="col">Wartość</th>
                <th scope="col">Komentarz</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @{
                var economicRequirements = Model.Project.ProjectRequirements.Where(x => x.Requirement.Type == 1);
            }

            @if (economicRequirements != null && economicRequirements.Any())
            {
                foreach (var position in economicRequirements)
                {
                    <tr>
                        <td>
                            <a class="font-weight-bold"
                               href="@Url.Action("ProjectRequirement", "ProjectRequirement", new { projectId = position.ProjectId, id = position.Id, type = 1 })">
                                @position.Requirement.Name
                            </a>
                        </td>
                        @{
                            var exist = position.Exist == true ? "TAK" : "NIE";
                        }

                        <td>@exist</td>
                        <td>@position.Value </td>
                        <td>@position.Comment</td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                    onclick="deleteProjectRequirement('@position.ProjectId','@position.Id',this)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                }


            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
      // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
      // deleteProjectRequirement()
    </script>
}