@model MwProject.Core.ViewModels.ProjectViewModel
@* Widok częściowy z wymaganiami powiązanymi z projektem *@

@{
    var economicRequirements = Model.Project.ProjectRequirements.Where(x => x.Requirement.Type == 1);
}

<div class="row">


    <div class="row g-0">
        <div class="col-12 mb-2">
            <h2>Wymagania Ekonomiczne</h2>
        </div>

        <div class="col-12">

            <button class="btn btn-outline-primary btn-sm "
                    onclick="addProjectEconomicRequirements('@Model.Project.Id',this)">
                Wczytaj
            </button>

            <button class="btn btn-outline-success btn-sm"
                    onclick='window.location.href = "@Url.Action("ProjectRequirement","ProjectRequirement",new { projectId = Model.Project.Id, type = 1 })"'>
                Dodaj
            </button>

            <button class="btn btn-outline-warning btn-sm"
                    onclick='window.location.href = "@Url.Action("ConfirmProjectRequirements","ProjectRequirement",new { projectId = Model.Project.Id})"'>
                Akceptuj
            </button>
        </div>

    </div>


    @if (economicRequirements != null && economicRequirements.Any())
    {

        <table class="table mt-3 table-hover table-striped table-light">

            <thead class="table-primary">
                <tr>
                    <th scope="col">parametr</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var position in economicRequirements)
                {
                    <tr>
                        <td>
                            <a class="font-weight-bold"
                               href="@Url.Action("ProjectRequirement", "ProjectRequirement", new { projectId = position.ProjectId, id = position.Id, type = 1 })">
                                <strong>
                                    @position.Requirement.Name
                                </strong>
                            </a>
                        </td>

                        @{
                            string exist;
                            switch (position.YesNo)
                            {
                                case 1:
                                    exist = "TAK";
                                    break;
                                case 2:
                                    exist = "NIE";
                                    break;
                                default:
                                    exist = "";
                                    break;
                            }

                            string value = position.ShowValue == true ? position.Value.ToString() : "";
                        }

                        <td>@exist</td>
                        <td>@value</td>
                        <td>@position.Comment</td>
                        <td align="right">
                            <button class="btn btn-outline-danger btn-sm"
                                    onclick="deleteProjectRequirement('@position.ProjectId','@position.Id',this)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>

@section scripts
{
    <script type="text/javascript">
                  // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                  // deleteProjectRequirement()
    </script>
}