@model MwProject.Core.ViewModels.ProjectViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

@if (Model.Project.Id != 0)
{
    <button class="btn btn-primary mb-3"
            onclick='window.location.href = "@Url.Action("Calculation","Calculation",new { projectId = Model.Project.Id })"'>
        Dodaj kalkulacje
    </button>

    <button class="btn btn-primary mb-3"
            onclick='window.location.href = "@Url.Action("EstimatedSalesValue","EstimatedSalesValue",new { projectId = Model.Project.Id })"'>
        Dodaj Przewidywaną Sprzedaż
    </button>

 
    <button class="btn btn-secondary mb-3"
            onclick="generatePdf()">
        Generuj PDF
    </button>

    <button class="btn btn-secondary mb-3" onclick="printProject()">
        Drukuj
    </button>

    <button id="printButton" class="btn btn-secondary mb-3">
        Drukuj 1
    </button>
}


<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Project", "Project", FormMethod.Post, new { id = "myform" }))
        {
            @Html.AntiForgeryToken()

            <!-- Wyświetlenie podsumowania walidacji-->
            @Html.ValidationSummary()

            if (Model.Project.Id == 0)
            {
                <p class="alert alert-info mb-4 mt-4">Pola tytuł i termin są <strong>wymagane</strong> </p>
            }

            @Html.HiddenFor(x => x.Project.Id)
            @Html.HiddenFor(x => x.Project.UserId)


            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.Number)
                @Html.TextBoxFor(x => x.Project.Number,
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Project.Number)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.Title)
                @Html.TextBoxFor(x => x.Project.Title,
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Project.Title)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.InitiatedBy)
                @Html.TextBoxFor(x => x.Project.InitiatedBy,
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Project.InitiatedBy)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.CategoryId)
                @Html.DropDownListFor(x => x.Project.CategoryId,
               new SelectList(Model.Categories, "Id", "Name"),
               "--- Wybierz kategorię ---",
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Project.CategoryId)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.CreatedDate)
                @Html.TextBoxFor(x => x.Project.CreatedDate,
                 "{0:dd-MM-yyyy}",
                new
                {
                    @class = "form-control",
                    @id = "CreatedDate",
                    autocomplete = "off"
                })
                @Html.ValidationMessageFor(x => x.Project.CreatedDate)
            </div>


            <div class="form-check form-switch mt-3 mb-5">
                @Html.CheckBoxFor(x => x.Project.NewProduct, new { @class = "form-check-input" })
                @Html.LabelFor(x => x.Project.NewProduct, new { @class = "form-check-label" })
                @Html.ValidationMessageFor(x => x.Project.NewProduct)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.Value)
                @Html.TextBoxFor(x => x.Project.Value,
                new { @class = "form-control", id = "Value", name = "Value" })
                @Html.ValidationMessageFor(x => x.Project.Value)
            </div>

            @*  , @readonly = "readonly" *@

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.Term)
                @Html.TextBoxFor(x => x.Project.Term,
                 "{0:dd-MM-yyyy}",
                new
                {
                    @class = "form-control",
                    @id = "Term",
                    autocomplete = "off"
                })
                @Html.ValidationMessageFor(x => x.Project.Term)
            </div>


            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Project.Description)
                @Html.TextAreaFor(x => x.Project.Description,
               new { @class = "form-control" })
            </div>




            <button class="btn btn-primary btn-lg mb-5" type="submit">
                Zapisz
            </button>



        }
    </div>

    <div class="col-5 offset-1">
        @if (Model.Project.Id != 0)
        {

            @await Html.PartialAsync("_CalculationsPartial", Model.Project.Calculations)
            @await Html.PartialAsync("_EstimatedSalesValuesPartial", Model.Project.EstimatedSalesValues)
            @await Html.PartialAsync("_ProjectEconomicRequirementsPartial", Model)
            @await Html.PartialAsync("_ProjectQualityRequirementsPartial", Model)
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

       // ---------------------------------------------------------------------------------------------

        $(document).ready(function () {

            $('#Term').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            $('#CreatedDate').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            // format daty
            $.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var isFirefox = /Firefox/.test(navigator.userAgent);
                if (isChrome || isFirefox) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            }

        });

        // ---------------------------------------------------------------------------------------------

       /*
        $.validator.setDefaults({
            debug: true,
            success: "valid"
        });
       */

        $("#myform").validate({
            rules: {
                Value: {
                    required: true,
                    number: true
                }
            }
        });

        // ------

        function printProject() {
            var url = '@Url.Action("ProjectTemplate", "Print")' + '?id=' + '@Model.Project.Id';

            var url = '@Url.Action("ProjectTemplate", "Print", new { id = Model.Project.Id })';

            var myWindow = window.open(url, '', 'width=800,height=600');

            myWindow.onload = function () {
                myWindow.print();
                myWindow.onafterprint = function () {
                    myWindow.close();
                };
            };
        }
        // -------------------------------------------------------------------------------------
        $("#printButton").click(function () {
             window.open("@Url.Action("ProjectTemplate", "Print",new {id = Model.Project.Id })", "_blank",
            "menubar=no, toolbar=no, resizable=no, top=100, left=200, width=1000, height=800");
        });

        // -------------------------------------------------------------------------------------
        // Generowanie PDF'a
        function generatePdf() {

            if (!confirm("Czy generujemy PDF ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("InvoiceToPdf", "Print")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.Success) {

                        window.location = '@Url.Action("DownloadInvoicePdf", "Print")'
                            + '?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;

                    }
                    else {
                        alert(data.Message + ' x');
                    }
                },
                error: function (data) {
                        alert(data.Message);
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------

        // --------------------------------------------------------------------------------------------
        // Uwagi dotyczące wywoływania ajax'a
        // gdy akcja w kontrolerze zwraca błąd sprawdzić wielkość liter w zmiennych success, message
        // gdy w ogóle nie wykonuje się ajax, nie mamy żadnego z umieszczonych wewnątrz alertów
        // to sprawdzić parametry przekazywane w sekcji data czy są zgodne z parametrami przekazanymi
        // do funkcji
            function deleteEstimatedSalesValue(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć przewidywaną sprzedaż ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteEstimatedSalesValue", "EstimatedSalesValue")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }
         // ------------------------------------------------------------------------------------------------
        function deleteCalculation(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć kalkulację ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteCalculation", "Calculation")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }


         // ------------------------------------------------------------------------------------------------

        function deleteProjectRequirement(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz wymaganie ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteProjectRequirement", "ProjectRequirement")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }


         // ------------------------------------------------------------------------------------------------

    </script>
}

