@model MwProject.Core.ViewModels.CalculationViewModel

@{
    ViewBag.Title = Model.Heading;
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h1 class="mb-3 mt-4 display-4">
            @Model.Heading
        </h1>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/single-document.webp")" style="width: 100px;" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 mt-3 mb-2  pb-3 border rounded bg-light">
        <!-- po submit wywoła się metoda Calculation w kontrolerze Calculation typu HttpPost -->
        @using (Html.BeginForm("Calculation", "Calculation"))
        {
            @Html.AntiForgeryToken()

            <!-- Wyświetlenie podsumowania walidacji-->
            @Html.ValidationSummary()

            if (Model.Calculation.Id == 0)
            {
                @*
                    <p class="alert alert-info mb-4 mt-4">Wszystkie pola są <strong>wymagane</strong> </p>
                *@
            }

            @Html.HiddenFor(x => x.Calculation.Id)
            @Html.HiddenFor(x => x.Calculation.ProjectId)


            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.OrdinalNumber)
                @Html.TextBoxFor(x => x.Calculation.OrdinalNumber,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.OrdinalNumber)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.Title)
                @Html.TextBoxFor(x => x.Calculation.Title,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.Title)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.MaterialCosts)
                @Html.TextBoxFor(x => x.Calculation.MaterialCosts,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.MaterialCosts)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.LabourCosts)
                @Html.TextBoxFor(x => x.Calculation.LabourCosts,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.LabourCosts)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.PackingCosts)
                @Html.TextBoxFor(x => x.Calculation.PackingCosts,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.PackingCosts)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.Markup)
                @Html.TextBoxFor(x => x.Calculation.Markup,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.Markup)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.GeneralCostsInPercent)
                @Html.TextBoxFor(x => x.Calculation.GeneralCostsInPercent,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.GeneralCostsInPercent)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.Tkw)
                @Html.TextBoxFor(x => x.Calculation.Tkw,
                new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Calculation.Tkw)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.Ckw)
                @Html.TextBoxFor(x => x.Calculation.Ckw,
                new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Calculation.Ckw)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.Calculation.Comment)
                @Html.TextAreaFor(x => x.Calculation.Comment,
               new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Calculation.Comment)
            </div>

            <button class="btn btn-primary mt-3" type="submit">
                Zapisz
            </button>

            <button type="button" class="btn btn-secondary mt-3"
                    onclick='window.location.href = "@Url.Action("Project","Project", new { id = Model.Calculation.ProjectId, tab = "calculation" })"'>
                wstecz
            </button>
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            // w formatowaniu ma być przecinek, a nie kropka
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
        });

    </script>
}

