@model MwProject.Core.ViewModels.CategoriesViewModel

@{
    ViewData["Title"] = "Kategorie";
}

<h1>kategorie projektów</h1>

<button class="btn btn-primary btn-lg mt-3 mb-3"
        onclick='window.location.href = "@Url.Action("Category","Category")"'>
    Dodaj pozycję
</button>


<div id="categoriesTable">
    <table class="table mt-3 table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Lp</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col">Symbol</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Categories.Any())
            {
                foreach (var category in Model.Categories)
                {
            <tr>

                <td>

                    <a href="@Url.Action("Category", "Category",
                                    new { id = category.Id })"
                       class="font-weight-bold">@category.OrdinalNumber</a>
                </td>

                <td>

                    <a href="@Url.Action("Category", "Category",
                                    new { id = category.Id })"
                       class="font-weight-bold">@category.Name</a>

                </td>
                <td>@category.Description</td>
                <td>@category.DocumentSymbol</td>
                <td>
                    @if (Model.CurrentUser.AdminRights)
                    {
                    <button class="btn btn-outline-danger btn-sm"
                            onclick="deleteCategory('@category.Id',this)">
                        Usuń
                    </button>
                    }

                </td>
            </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Brak kategorii
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts
{
    <script type="text/javascript">

        // Usuwanie kategorii
        function deleteCategory(id, btn) {
            if (!confirm("Czy na pewno chcesz kategorię ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteCategory", "Category")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
    </script>
}
