@model MwProject.Core.ViewModels.TechnicalPropertiesViewModel

@{
    ViewData["Title"] = "Słownik Informacji Technicznych";
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h2 class="mb-3 mt-4 display-4">
            @ViewData["Title"]
        </h2>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/dictionary.png")" style="width: 100px;" />
        </div>
    </div>
</div>

<button class="btn btn-primary btn-lg mt-3 mb-3"
        onclick='window.location.href = "@Url.Action("TechnicalProperty","TechnicalProperty")"'>
    Dodaj pozycję
</button>


<div id="categoriesTable">
    <table class="table mt-3 table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Lp</th>
                <th scope="col">Nazwa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.TechnicalProperties.Any())
            {
                foreach (var technicalProperty in Model.TechnicalProperties)
                {
                    <tr>

                        <td>

                            <a href="@Url.Action("TechnicalProperty", "TechnicalProperty",
                                    new { id = technicalProperty.Id })"
                               class="font-weight-bold">@technicalProperty.OrdinalNumber</a>
                        </td>

                        <td>

                            <a href="@Url.Action("TechnicalProperty", "TechnicalProperty",
                                    new { id = technicalProperty.Id })"
                               class="font-weight-bold">@technicalProperty.Name</a>

                        </td>
                        <td>
                            @if (Model.CurrentUser.AdminRights)
                            {
                                <button class="btn btn-outline-danger btn-sm"
                                        onclick="deleteTechnicalProperty('@technicalProperty.Id',this)">
                                    Usuń
                                </button>
                            }

                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Brak grup wyrobów
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts
{
    <script type="text/javascript">

        // Usuwanie kategorii
        function deleteTechnicalProperty(id, btn) {
            if (!confirm("Czy na pewno chcesz grupę wyrobów ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteTechnicalProperty", "TechnicalProperty")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
    </script>
}
