@model MwProject.Core.ViewModels.CategoryRequirementViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

<div class="row">
    <div class="col-lg-6">
        <!-- po submit wywoła się metoda Calculation w kontrolerze Calculation typu HttpPost -->
        @using (Html.BeginForm("CategoryRequirement", "CategoryRequirement"))
        {
            @Html.AntiForgeryToken()

            <!-- Wyświetlenie podsumowania walidacji-->
            @Html.ValidationSummary()
       
            @Html.HiddenFor(x => x.CategoryRequirement.Id)
            @Html.HiddenFor(x => x.CategoryRequirement.CategoryId)

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryRequirement.OrdinalNumber, new { @class = "form-check-label" })
                @Html.TextBoxFor(x => x.CategoryRequirement.OrdinalNumber,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryRequirement.OrdinalNumber)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryRequirement.RequirementId)
                @Html.DropDownListFor(x => x.CategoryRequirement.RequirementId,
               new SelectList(Model.Requirements, "Id", "Name"),
               "--- Wybierz parametr techniczny ---",
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.CategoryRequirement.RequirementId)
            </div>

            <div class="form-check form-switch mt-3 mb-5">
                @Html.CheckBoxFor(x => x.CategoryRequirement.ShowValue, new { @class = "form-check-input" })
                @Html.LabelFor(x => x.CategoryRequirement.ShowValue, new { @class = "form-check-label" })
                @Html.ValidationMessageFor(x => x.CategoryRequirement.ShowValue)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryRequirement.Value)
                @Html.TextBoxFor(x => x.CategoryRequirement.Value,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryRequirement.Value)
            </div>



            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryRequirement.Comment)
                @Html.TextAreaFor(x => x.CategoryRequirement.Comment,
               new { @class = "form-control" })
            </div>

            <div class="form-check form-switch mt-3 mb-5">
                <div class="form-check">
                    @Html.RadioButtonFor(x => x.CategoryRequirement.YesNo, "0",
                   new { @class = "form-check-input" })

                    <label class="form-check-label" for="exampleRadios1"> Ukryj </label>
                </div>

                <div class="form-check">
                    @Html.RadioButtonFor(x => x.CategoryRequirement.YesNo, "1",
                   new { @class = "form-check-input" })

                    <label class="form-check-label" for="exampleRadios1"> Tak </label>
                </div>

                <div class="form-check">
                    @Html.RadioButtonFor(x => x.CategoryRequirement.YesNo, "2",
                   new { @class = "form-check-input" })

                    <label class="form-check-label" for="exampleRadios1"> Nie </label>
                </div>
            </div>

            <button class="btn btn-primary btn-lg mb-5" type="submit">
                Zapisz
            </button>
        }
    </div>

 
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            // w formatowaniu ma być przecinek, a nie kropka
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
        });

    </script>
}

