@model MwProject.Core.ViewModels.ProductGroupsViewModel

@{
    ViewData["Title"] = "Grupy Produktów";
}

<h1>grupy produktów</h1>

<button class="btn btn-primary btn-lg mt-3 mb-3"
        onclick='window.location.href = "@Url.Action("ProductGroup","ProductGroup")"'>
    Dodaj pozycję
</button>


<div id="categoriesTable">
    <table class="table mt-3 table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Lp</th>
                <th scope="col">Nazwa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ProductGroups.Any())
            {
                foreach (var productNumber in Model.ProductGroups)
                {
            <tr>

                <td>

                    <a href="@Url.Action("ProductGroup", "ProductGroup",
                                    new { id = productNumber.Id })"
                       class="font-weight-bold">@productNumber.OrdinalNumber</a>
                </td>

                <td>

                    <a href="@Url.Action("ProductGroup", "ProductGroup",
                                    new { id = productNumber.Id })"
                       class="font-weight-bold">@productNumber.Name</a>

                </td>
                <td>
                    @if (Model.CurrentUser.AdminRights)
                    {
                    <button class="btn btn-outline-danger btn-sm"
                            onclick="deleteProductGroup('@productNumber.Id',this)">
                        Usuń
                    </button>
                    }

                </td>
            </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Brak grup wyrobów
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts
{
    <script type="text/javascript">

        // Usuwanie kategorii
        function deleteProductGroup(id, btn) {
            if (!confirm("Czy na pewno chcesz grupę wyrobów ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteProductGroup", "ProductGroup")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
    </script>
}
