@model MwProject.Core.Models.Domains.Project

@{
    ViewBag.Title = "ProjectTemplate";
}

<link href="@Url.Content("~/css/PrintProject.css")" rel="stylesheet" type="text/css"/>


    <div class="invoice-font">

        <div class="row">
            <div class="col-12 header-font">
                <div>Projekt</div>
                <div>Nr @Model.Title</div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-5">
                <img src="@Url.Content("~/images/logo_kabat.png")" alt="logo" class="logo" />
            </div>
            <img src="~/images/logo_kabat.png" />
            <div class="col-4 offset-3">
                <div class="top-line">
                    <div class="top-small-caption">
                        Data Utworzenia
                    </div>
                    <div>
                        @Model.CreatedDate.GetValueOrDefault().ToString("dd-MM-yyyy")
                    </div>
                </div>

                <div class="top-line">
                    <div class="top-small-caption">
                        Termin Wykonania
                    </div>
                    <div>
                        @Model.Term.GetValueOrDefault().ToString("dd-MM-yyyy")
                    </div>
                </div>

                <div class="top-line">
                    <div class="top-small-caption">
                        Sposób Zapłaty
                    </div>
                    <div>
                       @Model.Category.Name
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-5">
                <div class="top-line">
                    <div class="top-small-caption">
                        Sprzedawca:
                    </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                </div>
            </div>

            <div class="col-5 offset-2">
                <div class="top-line">
                    <div class="top-small-caption">
                        Nabywca:
                    </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th>Wartość</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var position in Model.EstimatedSalesValues)
                {
                    <tr>
                        <td>@position.Year</td>
                        <td>@position.Qty</td>
                        <td>@position.Price</td>
                        <td>@position.Price</td>
                    </tr>
                }
 
            </tbody>
        </table>

        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrWhiteSpace(Model.Description))
                {
                    <div class="text-left">Uwagi: @Model.Description</div>
                }
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                <div>Wystawił:</div>
                <div>@Model.User.Email</div>
                <div>............................</div>
            </div>
            <div class="col-6">
                <div>Odebrał:</div>
                <div> </div>
                <div>............................</div>
            </div>
        </div>
    </div>


