@model MwProject.Core.ViewModels.ProjectViewModel
@* Widok częściowy z kalkulacjami powiązanymi z projektem 186 *@

@{
    var projectCalculations = Model.Project.Calculations;
    bool canEdit = !Model.Project.IsQualityRequirementsConfirmed;
    bool canWithdrawAcceptation = !Model.Project.IsAccepted;
    bool canWithdrawConfirmationOfCalculation = !Model.Project.IsAccepted && Model.Project.IsCalculationConfirmed;
    bool canWithdrawConfirmationOfEstimatedSales = !Model.Project.IsAccepted && Model.Project.IsEstimatedSalesConfirmed;
    bool canWithdrawConfirmationOfQualityRequirement = !Model.Project.IsAccepted && Model.Project.IsQualityRequirementsConfirmed;
    bool canWithdrawConfirmationOfEconomicRequirement = !Model.Project.IsAccepted && Model.Project.IsEconomicRequirementsConfirmed;
    bool canWithdrawConfirmationOfTechnicalProperties = !Model.Project.IsAccepted && Model.Project.IsTechnicalProportiesConfirmed;
}

<div class="m-2 ps-2">

    <div class="row">
        <div class="col-11">
            <div class="mt-2 mb-4 text-muted">
                <h2>Status Projektu</h2>
            </div>
        </div>

        <div class="col-1">
            <div class="mt-2 mb-4 text-muted">
                <img src="@Url.Content("~/images/check-box-512.png")" style="width: 50px;" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover ">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">T/N</th>
                        <th scope="col">Kto</th>
                        <th scope="col">Stanowisko</th>
                        <th scope="col">Kiedy</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Project.IsAccepted)
                    {
                        <tr>
                            <td> <strong>projekt zaakceptowany</strong> </td>
                            <td>
                                @if (Model.Project.IsAccepted)
                                {
                                    <div>
                                        <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                    </div>
                                }
                            </td>
                            <td>@Model.AcceptedBy.FirstName @Model.AcceptedBy.LastName</td>
                            <td>@Model.AcceptedBy.Possition</td>
                            <td>@Model.Project.AcceptedDate</td>
                            <td> </td>
                        </tr>
                    }


                    @if (Model.Project.IsConfirmed)
                    {
                        <tr>
                            <td> <strong>dane potwierdzone przez</strong> </td>
                            <td>
                                @if (Model.Project.IsConfirmed)
                                {
                                    <div>
                                        <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                    </div>
                                }
                            </td>
                            <td>@Model.ConfirmedBy.FirstName @Model.ConfirmedBy.LastName</td>
                            <td>@Model.ConfirmedBy.Possition</td>
                            <td>@Model.Project.ConfirmedDate</td>
                            <td> </td>
                        </tr>
                    }

                    <tr>
                        <td class="text-muted"> <strong>utworzony</strong> </td>
                        <td>

                            <div>
                                <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                            </div>

                        </td>
                        <td>@Model.Project?.User?.FirstName @Model.Project?.User?.LastName</td>
                        <td>@Model.Project?.User?.Possition</td>
                        <td>@Model.Project.CreatedDate</td>
                        <td> </td>
                    </tr>

                    <tr>
                        <td class="text-muted"> <strong> potwierdzona kalkulacja TKW</strong></td>
                        <td>
                            @if (Model.Project.IsCalculationConfirmed)
                            {
                                <div>
                                    <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                </div>
                            }
                        </td>
                        <td>@Model?.CalculationConfirmedBy?.FirstName @Model?.CalculationConfirmedBy?.LastName</td>
                        <td>@Model?.CalculationConfirmedBy?.Possition</td>
                        <td>@Model.Project.CalculationConfirmedDate</td>
                        <td>
                            @if (canWithdrawConfirmationOfCalculation)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                        onclick="withdrawConfirmationOfCalculation('@Model.Project.Id',this)">
                                    Wycofaj
                                </button>
                            }
                        </td>
                    </tr>



                    <tr>
                        <td class="text-muted"> <strong>potwierdzona prognoza sprzedaży</strong></td>
                        <td>
                            @if (Model.Project.IsEstimatedSalesConfirmed)
                            {
                                <div>
                                    <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                </div>
                            }
                        </td>
                        <td>@Model?.EstimatedSalesConfirmedBy?.FirstName @Model?.EstimatedSalesConfirmedBy?.LastName</td>
                        <td>@Model?.EstimatedSalesConfirmedBy?.Possition</td>
                        <td>@Model.Project.EstimatedSalesConfirmedDate</td>
                        <td>
                            @if (canWithdrawConfirmationOfEstimatedSales)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                        onclick="withdrawConfirmationOfEstimatedSales('@Model.Project.Id',this)">
                                    Wycofaj
                                </button>
                            }
                        </td>
                    </tr>


                    <tr>
                        <td class="text-muted"> <strong>potwierdzone informacje ogólne</strong></td>
                        <td>
                            @if (Model.Project.IsGeneralRequirementsConfirmed)
                            {
                                <div>
                                    <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                </div>
                            }
                        </td>
                        <td>@Model?.GeneralRequirementsConfirmedBy?.FirstName @Model?.GeneralRequirementsConfirmedBy?.LastName</td>
                        <td>@Model?.GeneralRequirementsConfirmedBy?.Possition</td>
                        <td>@Model.Project.GeneralRequirementsConfirmedDate</td>
                        <td>
                            @if (canWithdrawConfirmationOfQualityRequirement)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                        onclick="withdrawConfirmationOfGeneralRequirements('@Model.Project.Id',this)">
                                    Wycofaj
                                </button>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td class="text-muted"> <strong>potwierdzone informacje jakościowe</strong></td>
                        <td>
                            @if (Model.Project.IsQualityRequirementsConfirmed)
                            {
                                <div>
                                    <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                </div>
                            }
                        </td>
                        <td>@Model?.QualityRequirementsConfirmedBy?.FirstName @Model?.QualityRequirementsConfirmedBy?.LastName</td>
                        <td>@Model?.QualityRequirementsConfirmedBy?.Possition</td>
                        <td>@Model.Project.QualityRequirementsConfirmedDate</td>
                        <td>
                            @if (canWithdrawConfirmationOfQualityRequirement)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                        onclick="withdrawConfirmationOfQualityRequirements('@Model.Project.Id',this)">
                                    Wycofaj
                                </button>
                            }
                        </td>
                    </tr>



                    <tr>
                        <td class="text-muted"> <strong>potwierdzone informacje ekonomiczne</strong></td>
                        <td>
                            @if (Model.Project.IsEconomicRequirementsConfirmed)
                            {
                                <div>
                                    <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                </div>
                            }
                        </td>
                        <td>@Model?.EconomicRequirementsConfirmedBy?.FirstName @Model?.EconomicRequirementsConfirmedBy?.LastName</td>
                        <td>@Model?.EconomicRequirementsConfirmedBy?.Possition</td>
                        <td>@Model.Project.EconomicRequirementsConfirmedDate</td>
                        <td>
                            @if (canWithdrawConfirmationOfEconomicRequirement)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                        onclick="withdrawConfirmationOfEconomicRequirements('@Model.Project.Id',this)">
                                    Wycofaj
                                </button>
                            }
                        </td>
                    </tr>


                    <tr>
                        <td class="text-muted"> <strong>potwierdzone informacje techniczne </strong></td>
                        <td>
                            @if (Model.Project.IsTechnicalProportiesConfirmed)
                            {
                                <div>
                                    <img src="@Url.Content("~/images/checked.png")" alt="logo" width="16" height="16" class="img-checked-sm" />
                                </div>
                            }
                        </td>
                        <td>@Model?.TechnicalPropertiesConfirmedBy?.FirstName @Model?.TechnicalPropertiesConfirmedBy?.LastName</td>
                        <td>@Model?.TechnicalPropertiesConfirmedBy?.Possition</td>
                        <td>@Model.Project.TechnicalProportiesConfirmedDate</td>
                        <td>
                            @if (canWithdrawConfirmationOfTechnicalProperties)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                        onclick="withdrawConfirmationOfTechnicalProperties('@Model.Project.Id',this)">
                                    Wycofaj
                                </button>
                            }
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>








@section scripts
{
    <script type="text/javascript">
                                                      // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                                                      // deleteCalculation()
    </script>
}