@model MwProject.Core.ViewModels.ProjectViewModel
@* Widok częściowy z przewidywaną sprzedażą powiązaną z projektem *@

@{
    var estimatedSalesValues = Model.Project.EstimatedSalesValues;

    bool canEdit = Model.CurrentUser.CanEditEstimatedSales
      && !Model.Project.IsAccepted
      && !Model.Project.IsConfirmed
      && !Model.Project.IsEstimatedSalesConfirmed;

    bool canWithdrawAcceptation = Model.CurrentUser.CanConfirmEstimatedSales
        && !Model.Project.IsAccepted
        && !Model.Project.IsConfirmed
        && Model.Project.IsEstimatedSalesConfirmed;

    bool canAccept = Model.CurrentUser.CanEditEstimatedSales
        && !Model.Project.IsAccepted
        && !Model.Project.IsConfirmed
        && !Model.Project.IsEstimatedSalesConfirmed;
}

<div class="m-2 ps-2">

    <div class="row">
        <div class="col-11">
            <div class="mt-2 mb-4 text-muted">
                <h2>Przewidywana sprzedaż</h2>
            </div>
        </div>

        <div class="col-1">
            <div class="mt-2 mb-4 text-muted">
                <img src="@Url.Content("~/images/bagofmoney.png")" style="width: 50px;" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            @if (canEdit)
            {
                <button class="btn btn-outline-success btn-sm"
                        onclick='window.location.href = "@Url.Action("EstimatedSalesValue", "EstimatedSalesValue", new { projectId = Model.Project.Id })"'>
                    Dodaj
                </button>
            }

            @if (canAccept)
            {
                <button class="btn btn-outline-warning btn-sm"
                        onclick="confirmEstimatedSales('@Model.Project.Id',this)">
                    Potwierdź
                </button>
            }

            @if (canWithdrawAcceptation)
            {
                <button class="btn btn-outline-warning btn-sm"
                        onclick="withdrawConfirmationOfEstimatedSales('@Model.Project.Id',this)">
                    Wycofaj Potwierdzenie
                </button>
            }
            
        </div>
    </div>

    <div class="col-12 mt-2">
        @if (estimatedSalesValues != null && estimatedSalesValues.Any())
        {
            <table class="table table-sm table-hover  mt-3 mb-5">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Rok</th>
                        <th scope="col">Ilość</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Wartość</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var position in estimatedSalesValues)
                    {
                        <tr>
                            <td class="font-weight-bold text-muted">
                                @if (canEdit)
                                {
                                    <strong>
                                        <a href="@Url.Action("EstimatedSalesValue", "EstimatedSalesValue", new { projectId = position.ProjectId, Id = position.Id })">
                                            @position.Year
                                        </a>
                                    </strong>
                                }
                                else
                                {
                                    <strong>
                                        @position.Year
                                    </strong>
                                }
                            </td>

                            <td class="text-muted">
                                <strong>
                                    @position.Qty.ToString("N")
                                </strong>
                            </td>

                            <td class="text-muted">
                                <strong>
                                    @position.Price.ToString("c")
                                </strong>
                            </td>

                            @{decimal value = Math.Round(position.Qty * position.Price, 2);}

                            <td class="text-muted">
                                <strong>
                                    @value.ToString("c")
                                </strong>
                            </td>

                            <td align="right">
                                @if (canEdit)
                                {
                                    <button class="btn btn-outline-danger btn-sm"
                                            onclick="deleteEstimatedSalesValue('@position.ProjectId','@position.Id',this)">
                                        Usuń
                                    </button>
                                }
                            </td>
                        </tr>
                    }

                    <tr>
                        <td class="text-muted"><strong>średnia</strong></td>
                        @{decimal averageQty = 0;}
                        @{decimal averagePrice = 0;}
                        @{decimal averageValue = 0;}


                        @{averageQty = Math.Round(estimatedSalesValues.Average(x => x.Qty), 2);}

                        @{decimal totalSales = Math.Round(estimatedSalesValues.Sum(x => x.Price * x.Qty), 2);}
                        @{int numberOfYears = estimatedSalesValues.Count();}

                        @if (averageQty != 0)
                        {
                            averagePrice = Math.Round(totalSales / averageQty, 2);
                        }

                        @if (numberOfYears != 0)
                        {
                            averageValue = Math.Round(totalSales / numberOfYears, 2);
                        }

                        <td>
                            <strong>
                                @averageQty.ToString("N")
                            </strong>
                        </td>

                        <td> </td>

                        <td>
                            <strong>
                                @averageValue.ToString("c")
                            </strong>
                        </td>
                        <td> </td>
                    </tr>

                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                                                      // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                                                      // deleteEstimatedSalesValue()
    </script>
}
