@model MwProject.Core.ViewModels.ProjectViewModel
@* Widok częściowy z głównym formularzem projektu *@

@{
    bool NewProject = (Model.Project.Id == 0);
    var listOfPurposeOfTheProject = Model.RankingCategories.Single(x => x.Id == 3).RankingElements;
    var listOfViabilityOfTheProject = Model.RankingCategories.Single(x => x.Id == 2).RankingElements;
    var listOfCompetitivenessOfTheProject = Model.RankingCategories.Single(x => x.Id == 1).RankingElements;

    decimal estimatedCostOfProject = Model.Project.ProjectRequirements
    .Where(x => x.Requirement.Type == 1)
    .Sum(x => x.Value);


}

<div class="m-2 ps-2">

    <div class="row">
        <div class="col-11">
            <div class="mt-2 mb-4 text-muted">
                <h4>Wniosek</h4>
            </div>
        </div>

        <div class="col-1">
            <div class="mt-2 mb-4 text-muted">
                <img src="@Url.Content("~/images/form.webp")" style="width: 50px;" />
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-12">

            @using (Html.BeginForm("Project", "Project", FormMethod.Post, new { id = "myform" }))
            {
                @Html.AntiForgeryToken()

                <!-- Wyświetlenie podsumowania walidacji-->
                @Html.ValidationSummary()

                if (Model.Project.Id == 0)
                {
                    <p class="alert alert-info mb-4 mt-4">Pola tytuł i termin są <strong>wymagane</strong> </p>
                }

                @Html.HiddenFor(x => x.Project.Id)
                @Html.HiddenFor(x => x.Project.UserId)
                @Html.HiddenFor(x => x.Project.Value)
                @Html.HiddenFor(x => x.Project.Coordinator)

                @if (NewProject == false)
                {
                    @Html.HiddenFor(x => x.Project.CategoryId)
                }

                <!--Podział głównych danych formularza na dwie kolumny-->
                <div class="row g-0">
                    <!-- Pierwsza kolumna formularza -->
                    <div class="col-lg-6">



                        <div class="row">

                            <div class="form-group mb-3 col-2">
                                @Html.LabelFor(x => x.Project.OrdinalNumber)
                                @Html.TextBoxFor(x => x.Project.OrdinalNumber,
                               new { @class = "form-control", autofocus = "autofocus", Style = "background:#eeffee; font-weight:bold" })
                                @Html.ValidationMessageFor(x => x.Project.OrdinalNumber)
                            </div>

                            <div class="form-group mb-3 col-2">
                                @Html.LabelFor(x => x.Project.No)
                                @Html.TextBoxFor(x => x.Project.No,
                               new { @class = "form-control", autofocus = "autofocus", Style = "font-weight:bold", id = "no", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.Project.No)
                            </div>

                            <div class="form-group mb-3 col-3">
                                @Html.LabelFor(x => x.Project.CreatedDate)

                                    @Html.TextBoxFor(x => x.Project.CreatedDate,
                                     "{0:dd-MM-yyyy}",
                                    new
                                    {
                                        @class = "form-control",
                                        Style = "background:#eeffee; font-weight:bold",
                                        @id = "CreatedDate",
                                        autocomplete = "off"
                                    })

                                @Html.ValidationMessageFor(x => x.Project.CreatedDate)
                            </div>


                            <div class="form-group mb-3 col-5">
                                @Html.LabelFor(x => x.Project.Number)
                                @Html.TextBoxFor(x => x.Project.Number,
                               new { @class = "form-control", autofocus = "autofocus", Style = "font-weight:bold", id = "number", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.Project.Number)
                            </div>


                            @if (false)
                            {
                                <div class="row">
                                    <div class="mb-3 col-1">
                                        <button type="button" class="btn btn-sm btn-warning mb-3" onclick="getNewNumber('@Model.Project.CategoryId','@Model.Project.CreatedDate')">
                                            Nr
                                        </button>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.Title)
                            @Html.TextAreaFor(x => x.Project.Title,
                           new { @class = "form-control", Style = "background:#eeffee; font-weight:bold" })
                            @Html.ValidationMessageFor(x => x.Project.Title)
                        </div>

                        <div class="row">
                            <div class="form-group mb-3 col-6">

                                @Html.LabelFor(x => x.Project.ProjectStatusId)
                                @Html.DropDownListFor(x => x.Project.ProjectStatusId,
                                        new SelectList(Model.ProjectStatuses, "Id", "Name"),
                                        "--- Wybierz status projektu ---",
                                        new { @class = "form-control", autofocus = "autofocus", id = "statusId" })
                                @Html.ValidationMessageFor(x => x.Project.ProjectStatusId)
                            </div>

                            <div class="form-group mb-3 col-6">

                                @Html.LabelFor(x => x.Project.ProjectGroupId)
                                @Html.DropDownListFor(x => x.Project.ProjectGroupId,
                                        new SelectList(Model.ProjectGroups, "Id", "Name"),
                                        "--- Wybierz program ---",
                                        new { @class = "form-control", autofocus = "autofocus", id = "statusId" })
                                @Html.ValidationMessageFor(x => x.Project.ProjectGroupId)
                            </div>
                        </div>

                        <div class="row">
                            <!-- Kategoria Projektu -->
                            <div class="form-group mb-3 col-6">
                                @if (NewProject == false)
                                {
                                    @Html.LabelFor(x => x.Project.CategoryId)
                                    @Html.DropDownListFor(x => x.Project.CategoryId,
                                            new SelectList(Model.Categories, "Id", "Name"),
                                            "--- Wybierz kategorię projektu ---",
                                            new { @class = "form-control", autofocus = "autofocus", @disabled = "disabled", id = "categoryId" })
                                    @Html.ValidationMessageFor(x => x.Project.CategoryId)
                                }
                                else
                                {
                                    @Html.LabelFor(x => x.Project.CategoryId)
                                    @Html.DropDownListFor(x => x.Project.CategoryId,
                                        new SelectList(Model.Categories, "Id", "Name"),
                                        "--- Wybierz kategorię projektu ---",
                                        new { @class = "form-control", autofocus = "autofocus", id = "categoryId" })
                                    @Html.ValidationMessageFor(x => x.Project.CategoryId)
                                }
                            </div>

                            <!-- Grupa Produktu -->
                            @*
                                <div class="form-group mb-3 col-6">

                                    @Html.LabelFor(x => x.Project.ProductGroupId)
                                    @Html.DropDownListFor(x => x.Project.ProductGroupId,
                                                   new SelectList(Model.ProductGroups, "Id", "Name"),
                                                   "--- Wybierz grupę produktu ---",
                                                   new { @class = "form-control", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.Project.ProductGroupId)

                                </div>
                            *@
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.ProjectManagerId)
                            @Html.DropDownListFor(x => x.Project.ProjectManagerId,
                                           new SelectList(Model.ApplicationUsers, "Id", "UserName"),
                                           "--- Wybierz kierownika projektu ---",
                                           new { @class = "form-control", autofocus = "autofocus", Style = "background:#eeffee; font-weight:bold" })
                            @Html.ValidationMessageFor(x => x.Project.ProjectManagerId)
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.LinkToPlanner)
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(x => x.Project.LinkToPlanner,
                               new
                                    {
                                   @class = "form-control",
                                   placeholder = "link do planera",
                                   aria_label = "Recipient's username",
                                   aria_describedby = "button-addon2",
                                   autofocus = "autofocus",
                                   id = "linkToPlanner"
                                   })
                                <button class="btn btn-secondary" type="button" id="button-addon2" onclick="showPlanner()">planer</button>
                            </div>
                            @Html.ValidationMessageFor(x => x.Project.LinkToPlanner)
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.Client)
                            @Html.TextBoxFor(x => x.Project.Client,
                           new { @class = "form-control", autofocus = "autofocus", Style = "background:#eeffee; font-weight:bold" })
                            @Html.ValidationMessageFor(x => x.Project.Client)
                        </div>

                        <div class="row">

                            <div class="form-group mb-3 col-3 ">
                                @Html.LabelFor(x => x.Project.Term)
                                @Html.TextBoxFor(x => x.Project.Term,
                                 "{0:dd-MM-yyyy}",
                                new
                                {
                                    @class = "form-control",
                                    Style = "background:#eeffee; font-weight:bold",
                                    @id = "Term",
                                    autocomplete = "off"
                                })
                                @Html.ValidationMessageFor(x => x.Project.Term)
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.InitiatedBy)
                            @Html.TextBoxFor(x => x.Project.InitiatedBy,
                           new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(x => x.Project.InitiatedBy)
                        </div>
                    </div>

                    <!-- Druga kolumna formularza -->
                    <div class="col-lg-5 offset-lg-1">



                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.Description)
                            @Html.TextAreaFor(x => x.Project.Description, 5, 40,
                           new { @class = "form-control" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.DescriptionOfPurpose)
                            @Html.TextAreaFor(x => x.Project.DescriptionOfPurpose, 5, 40,
                           new { @class = "form-control" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.VerificationOperations)
                            @Html.TextAreaFor(x => x.Project.VerificationOperations, 5, 40,
                           new { @class = "form-control" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(x => x.Project.Comment)
                            @Html.TextAreaFor(x => x.Project.Comment, 5, 40,
                           new { @class = "form-control" })
                        </div>


                        <div class="row">
                            <div class="col-1"></div>


                            <div class="form-check form-switch mb-3">

                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Project.ProductStatus, "0",
                                   new { @class = "form-check-input" })

                                    <label class="form-check-label" for="exampleRadios1"> nd </label>
                                </div>

                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Project.ProductStatus, "1",
                                   new { @class = "form-check-input" })

                                    <label class="form-check-label" for="exampleRadios1"> nowy produkt </label>
                                </div>

                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Project.ProductStatus, "2",
                                   new { @class = "form-check-input" })

                                    <label class="form-check-label" for="exampleRadios1"> modyfikacja produktu </label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                @if (Model.Project.IsAccepted == false)
                {
                    <button class="btn btn-primary btn-lg mb-5" type="submit">
                        Zapisz
                    </button>
                }



            }
        </div>

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                     // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy

                      //
    </script>
}
