@model MwProject.Core.ViewModels.ProjectViewModel
@*
    Widok częściowy z informacjami technicznymi powiązanymi z projektem
    Wywołany na oknie projektu
*@

@{
    var technicalProperties = Model.Project.ProjectTechnicalProperties;


    bool canEdit = Model.CurrentUser.CanEditTechnicalProperties
        && !Model.Project.IsTechnicalProportiesConfirmed;

    bool canWithdrawAcceptation = Model.CurrentUser.CanConfirmTechnicalProperties
        && !Model.Project.IsRequestConfirmed
        && !Model.Project.IsConfirmed
        && !Model.Project.IsAccepted
        && Model.Project.IsTechnicalProportiesConfirmed;

    bool canAccept = Model.CurrentUser.CanConfirmTechnicalProperties
        && !Model.Project.IsTechnicalProportiesConfirmed;

}

<div class="m-2">

    <div class="row">
        <div class="col-11">
            <div class="mt-2 mb-4 text-muted">
                <h2>Informacje Techniczne</h2>
            </div>
        </div>

        <div class="col-1">
            <div class="mt-2 mb-4 text-muted">
                <img src="@Url.Content("~/images/laboratory-science-chemistry.webp")" style="width: 50px;" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            @if (canEdit)
            {
                <button class="btn btn-outline-primary btn-sm "
                        onclick="addProjectTechnicalProperties('@Model.Project.Id',this)">
                    Wczytaj
                </button>
            }

            @if (canEdit)
            {
                <button class="btn btn-outline-success btn-sm"
                        onclick='window.location.href = "@Url.Action("ProjectTechnicalProperty", "ProjectTechnicalProperty", new { projectId = Model.Project.Id })"'>
                    Dodaj
                </button>
            }

            @if (canAccept)
            {
                <button class="btn btn-outline-warning btn-sm"
                        onclick="confirmTechnicalProperties('@Model.Project.Id',this)">
                    Potwierdź
                </button>
            }
            
            @if (canWithdrawAcceptation)
            {
                <button class="btn btn-outline-warning btn-sm"
                        onclick="withdrawConfirmationOfTechnicalProperties('@Model.Project.Id',this)">
                    Wycofaj Potwierdzenie
                </button>
            }

        </div>
    </div>

    <div class="col-12 mt-2">
        @if (technicalProperties != null && technicalProperties.Any())
        {

            <table class="table table-sm table-hover  mt-3 mb-5">

                <thead class="table-secondary">
                    <tr>
                        <th scope="col" style="width:400px">Parametr </th>
                        <th scope="col" style="width:60px"> T/N </th>
                        <th scope="col"> Komentarz </th>
                        <th scope="col"> Wartość </th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var position in technicalProperties)
                    {
                        <tr>
                            <td class="text-muted">
                                @if (canEdit)
                                {
                                    <a class="font-weight-bold"
                                       href="@Url.Action("ProjectTechnicalProperty", "ProjectTechnicalProperty", new { projectId = position.ProjectId, id = position.Id, type = 1 })">
                                        <strong>
                                            @position.TechnicalProperty.Name
                                        </strong>
                                    </a>
                                }
                                else
                                {
                                    <strong>
                                        @position.TechnicalProperty.Name
                                    </strong>
                                }
                            </td>

                            @{
                                string exist;
                                switch (position.YesNo)
                                {
                                    case 1:
                                        exist = "TAK";
                                        break;
                                    case 2:
                                        exist = "NIE";
                                        break;
                                    default:
                                        exist = "";
                                        break;
                                }

                            }

                            <td class="text-muted"><strong>@exist</strong></td>

                            <td class="text-muted">
                                <strong>
                                    @position.Comment
                                </strong>
                            </td>

                            <td class="text-muted">
                                @if (position.ShowValue)
                                {
                                    <strong>
                                        @position.Value.ToString("n")
                                    </strong>
                                }
                            </td>

                            <td align="right">
                                @if (canEdit)
                                {
                                    <button class="btn btn-outline-danger btn-sm"
                                            onclick="deleteProjectTechnicalProperty('@position.ProjectId','@position.Id',this)">
                                        Usuń
                                    </button>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                                              // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                                              // deleteProjectRequirement()
    </script>
}
