@model MwProject.Core.ViewModels.ProjectViewModel
@*
    Widok częściowy z klientami projektu
    Wywołany na oknie projektu
*@

@{
    var projectRisks = Model.Project.ProjectRisks;

    bool canEdit = true;

}

<div class="m-2">

    <div class="row">
        <div class="col-11">
            <div class="mt-2 mb-4 text-muted">
                <h2>Ocena Ryzyka</h2>
            </div>
        </div>

        <div class="col-1">
            <div class="mt-2 mb-4 text-muted">
                <img src="@Url.Content("~/images/risk_red.png")" style="width: 50px;" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">

            @if (canEdit)
            {

                <button class="btn btn-outline-success btn-sm"
                        onclick='window.location.href = "@Url.Action("ProjectRisk", "ProjectRisk", new { projectId = Model.Project.Id })"'>
                    Dodaj
                </button>
            }
   

        </div>
    </div>

    <div class="col-12 mt-2">
        @if (projectRisks != null && projectRisks.Any())
        {

            <table class="table table-sm table-hover  mt-3 mb-5">

                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Lp </th>
                        <th scope="col"> Nazwa </th>
                        <th scope="col"> Treść </th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var position in projectRisks)
                    {
                    <tr>

                        <td class="text-muted">
                            <strong>
                                @position.OrdinalNumber
                            </strong>
                        </td>


                        <td class="text-muted">
                            @if (canEdit)
                            {
                                <a class="font-weight-bold"
                                   href="@Url.Action("ProjectRisk", "ProjectRisk", new { projectId = position.ProjectId, id = position.Id})">
                                    <strong>
                                        @position.Name
                                    </strong>
                                </a>
                            }
                            else
                            {
                                <strong>
                                    @position.Name
                                </strong>
                            }
                        </td>

                        <td class="text-muted">
                            @if (canEdit)
                            {
                                <a class="font-weight-bold"
                                   href="@Url.Action("ProjectRisk", "ProjectRisk", new { projectId = position.ProjectId, id = position.Id})">
                                    <strong>
                                        @position.Content
                                    </strong>
                                </a>
                            }
                            else
                            {
                                <strong>
                                    @position.Content
                                </strong>
                            }
                        </td>


                        <td align="right">
                            @if (canEdit)
                            {
                                <button class="btn btn-outline-danger btn-sm"
                                        onclick="deleteProjectRisk('@position.ProjectId','@position.Id',this)">
                                    Usuń
                                </button>
                            }
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                                                  // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                                                  // deleteProjectRisk()
    </script>
}
