@model MwProject.Core.ViewModels.ProjectViewModel

@{
    ViewBag.Title = Model.Heading;



    bool NewProject = (Model.Project.Id == 0);
    bool canAccept = !Model.Project.IsAccepted
                   && Model.Project.IsCalculationConfirmed;
    bool canWithdrawAcceptation = Model.Project.IsAccepted;
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h1 class="mb-3 mt-4 display-4">
            @Model.Heading
        </h1>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/single-document.webp")" style="width: 100px;" />
        </div>
    </div>
</div>

<!-- Przyciski -->
@if (Model.Project.Id != 0)
{
    <div class="row">
        <div class="col-12">

            <!--
               <button class="btn btn-secondary mb-3"
                       onclick="generatePdf()">
                   Generuj PDF
               </button>

               <button class="btn btn-secondary mb-3" onclick="printProject()">
                   Drukuj
               </button>
            -->
            <button id="printButton" class="btn btn-secondary mb-3">
                Drukuj
            </button>


            @if (canAccept)
            {
                <button class="btn btn-lg btn-warning mb-3" onclick="acceptProject()">
                    <strong>Akceptuj Projekt</strong>
                </button>
            }

            @if (canWithdrawAcceptation)
            {
                <button class="btn btn-warning mb-3" onclick="withdrawProjectAcceptance()">
                    Wycofaj Akceptacje
                </button>
            }


        </div>
    </div>

}

<!-- Tabulatory -->
<div class="row mb-2">
    <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#home"
                        type="button" role="tab"
                        aria-controls="home"
                        aria-selected="false">
                    Dane Podstawowe
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="general-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#general"
                        type="button"
                        role="tab"
                        aria-controls="general"
                        aria-selected="true">
                    Informacje ogólne
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="technical-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#technical"
                        type="button"
                        role="tab"
                        aria-controls="technical"
                        aria-selected="true">
                    Informacje techniczne
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="economic-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#economic"
                        type="button"
                        role="tab"
                        aria-controls="economic"
                        aria-selected="false">
                    Informacje Ekonomiczne
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="quality-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#quality"
                        type="button"
                        role="tab"
                        aria-controls="quality"
                        aria-selected="false">
                    Wymagania Jakościowe
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="sales-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#sales"
                        type="button"
                        role="tab"
                        aria-controls="sales"
                        aria-selected="false">
                    Przewidywana Sprzedaż
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="calculation-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#calculation"
                        type="button"
                        role="tab"
                        aria-controls="calculation"
                        aria-selected="false">
                    Kalkulacja TKW
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="team-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#team"
                        type="button"
                        role="tab"
                        aria-controls="team"
                        aria-selected="false">
                    Zespół
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="status-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#status"
                        type="button"
                        role="tab"
                        aria-controls="status"
                        aria-selected="false">
                    Status
                </button>
            </li>

        </ul>


        <div class="tab-content" id="myTabContent">


            <!-- główny formularz projektu -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-12 mt-3 mb-2 border rounded bg-light">
                        @await Html.PartialAsync("_ProjectPartial", Model)
                    </div>
                </div>
            </div>

            <!-- zakładka z informacjami technicznymi -->
            <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="row">
                        <div class="col-12 mt-3 mb-2 border rounded bg-light">
                            @await Html.PartialAsync("_ProjectGeneralRequirementsPartial", Model)
                        </div>
                    </div>
                }
            </div>

            <!-- zakładka z informacjami technicznymi -->
            <div class="tab-pane fade" id="technical" role="tabpanel" aria-labelledby="technical-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="row">
                        <div class="col-12 mt-3 mb-2 border rounded bg-light">
                            @await Html.PartialAsync("_ProjectTechnicalPropertiesPartial", Model)
                        </div>
                    </div>
                }
            </div>

            <!-- zakładka z informacjami ekonomicznymi -->
            <div class="tab-pane fade" id="economic" role="tabpanel" aria-labelledby="economic-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="row">
                        <div class="col-12 mt-3 mb-2 border rounded bg-light">
                            @await Html.PartialAsync("_ProjectEconomicRequirementsPartial", Model)
                        </div>
                    </div>
                }
            </div>

            <!-- zakładka z informacjami jakościowymi -->
            <div class="tab-pane fade" id="quality" role="tabpanel" aria-labelledby="quality-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="row">
                        <div class="col-12 mt-3 mb-2 border rounded bg-light">
                            @await Html.PartialAsync("_ProjectQualityRequirementsPartial", Model)
                        </div>
                    </div>
                }
            </div>

            <!-- zakładka z danymi sprzedażowymi -->
            <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="col-12 mt-3 mb-2 border rounded bg-light">
                        @await Html.PartialAsync("_EstimatedSalesValuesPartial", Model)
                    </div>
                }
            </div>


            <!-- zakładka z kalkulacją kosztów -->
            <div class="tab-pane fade" id="calculation" role="tabpanel" aria-labelledby="calculation-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="col-12 mt-3 mb-2 border rounded bg-light">
                        @await Html.PartialAsync("_CalculationsPartial", Model)
                    </div>
                }
            </div>

            <!-- zakładka z zespołem -->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="col-12 mt-3 mb-2 border rounded bg-light">
                        @await Html.PartialAsync("_ProjectTeamMembersPartial", Model)
                    </div>
                }
            </div>

            <!-- zakładka ze statusami -->
            <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
                @if (Model.Project.Id != 0)
                {
                    <div class="row">
                        <div class="col-12 mt-3 mb-2 border rounded bg-light">
                            @await Html.PartialAsync("_ConfirmationsPartial", Model)
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
       // Uwagi dotyczące wywoływania ajax'a
       // gdy akcja w kontrolerze zwraca błąd sprawdzić wielkość liter w zmiennych success, message
       // gdy w ogóle nie wykonuje się ajax, nie mamy żadnego z umieszczonych wewnątrz alertów
       // to sprawdzić parametry przekazywane w sekcji data czy są zgodne z parametrami przekazanymi
       // do funkcji

       // ---------------------------------------------------------------------------------------------

        $(document).ready(function () {

            $('#Term').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            $('#CreatedDate').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            $('#FinishedDate').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            //

            $('#RealStartDateOfTheProject').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            $('#PlannedStartDateOfTheProject').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });

            $('#PlannedEndDateOfTheProject').datepicker({
                format: "dd-mm-yyyy",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false
            });





                // w formatowaniu ma być przecinek, a nie kropka
                $.validator.methods.number = function (value, element) {
                    return this.optional(element) || /^-?(?:\d+|\{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
                }



            $('#@ViewBag.Tab-tab').click();



            // format daty
            $.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var isFirefox = /Firefox/.test(navigator.userAgent);
                if (isChrome || isFirefox) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            }

        });

        // ---------------------------------------------------------------------------------------------

       /*
        $.validator.setDefaults({
            debug: true,
            success: "valid"
        });
       */

        $("#myform").validate({
            rules: {
                Value: {
                    required: true,
                    number: true
                }
            }
        });

        // ------

        function menu3() {
            $('#sales-tab').click();
        }

        // ---

        function printProject() {
            var url = '@Url.Action("ProjectRaport", "Print")' + '?id=' + '@Model.Project.Id';

            var url = '@Url.Action("ProjectRaport", "Print", new { id = Model.Project.Id })';

            var myWindow = window.open(url, '', 'width=800,height=600');

            myWindow.onload = function () {
                myWindow.print();
                myWindow.onafterprint = function () {
                    myWindow.close();
                };
            };
        }
        // -------------------------------------------------------------------------------------
        $("#printButton").click(function () {
             window.open("@Url.Action("ProjectRaport", "Print",new {id = Model.Project.Id })", "_blank",
            "menubar=no, toolbar=no, resizable=no, top=100, left=200, width=1000, height=800");
        });

        // -------------------------------------------------------------------------------------
        // Generowanie PDF'a
        function generatePdf() {

            if (!confirm("Czy generujemy PDF ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("InvoiceToPdf", "Print")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.Success) {

                        window.location = '@Url.Action("DownloadInvoicePdf", "Print")'
                            + '?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;

                    }
                    else {
                        alert(data.Message + ' x');
                    }
                },
                error: function (data) {
                        alert(data.Message);
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------
        // Akceptacja Projektu
        function acceptProject() {

            if (!confirm("Czy zaakceptować projekt ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("AcceptProject", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                        location.reload(true);
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // --------------------------------------------------------------------------------------------
        // WithdrawProjectAcceptance
        function withdrawProjectAcceptance() {

            if (!confirm("Czy wycofać akceptację projektu ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawProjectAcceptance", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                        location.reload(true);
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }

        // --------------------------------------------------------------------------------------------

            function deleteEstimatedSalesValue(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć przewidywaną sprzedaż ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteEstimatedSalesValue", "EstimatedSalesValue")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }
         // ------------------------------------------------------------------------------------------------
        function deleteCalculation(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć kalkulację ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteCalculation", "Calculation")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }

         // ------------------------------------------------------------------------------------------------
        function deleteProjectTeamMember(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć członka zespołu ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteProjectTeamMember", "ProjectTeamMember")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }
         // ------------------------------------------------------------------------------------------------
        function deleteCalculation2(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć kalkulację ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteCalculation", "Calculation")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }

         // ------------------------------------------------------------------------------------------------

        function deleteProjectRequirement(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz wymaganie ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteProjectRequirement", "ProjectRequirement")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }


         // ------------------------------------------------------------------------------------------------

        // ------------------------------------------------------------------------------------------------

        function deleteProjectTechnicalProperty(projectId,id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć parametr techniczny ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteProjectTechnicalProperty", "ProjectTechnicalProperty")",
                 data: {
                     projectId: projectId,
                     id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }


         // ------------------------------------------------------------------------------------------------
            //addProjectTechnicalProperties
            function addProjectTechnicalProperties(projectId, btn) {
            if (!confirm("Czy na pewno wczytać parametry techniczne ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("AddTechnicalProperties", "Project")",
                 data: {
                     projectId: projectId
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "technical" })";

                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }

        // ------------------------------------------------------------------------------------------------
            //addProjectTechnicalProperties
            function addProjectQualityRequirements(projectId, btn) {
            if (!confirm("Czy na pewno wczytać wymagania jakościowe ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("AddQualityRequirements", "Project")",
                 data: {
                     projectId: projectId
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "quality" })";
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }
            // ------------------------------------------------------------------------------------------------
            //addProjectTechnicalProperties
            function addProjectEconomicRequirements(projectId, btn) {
            if (!confirm("Czy na pewno wczytać wymagania ekonomiczne ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("AddEconomicRequirements", "Project")",
                 data: {
                     projectId: projectId
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "economic" })";
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }

        // ------------------------------------------------------------------------------------------------
            //addProjectGenerallProperties
            function addProjectGeneralRequirements(projectId, btn) {
            if (!confirm("Czy na pewno wczytać informacje ogólne ?"))
                return;

           $.ajax({
                type: 'POST',
                url: "@Url.Action("AddGeneralRequirements", "Project")",
                 data: {
                     projectId: projectId
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "general" })";
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json'

                });

            }


         // ------------------------------------------------------------------------------------------------
         // withdrawConfirmationOfCalculation
        function withdrawConfirmationOfCalculation() {

            if (!confirm("Czy wycofać potwierdzenie kalkulacji ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfCalculation", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {
                      window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "calculation" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------
         // confirmCalculation
        function confirmCalculation() {

            if (!confirm("Czy potwierdzić kalkulację ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmCalculation", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "calculation" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------
         // confirmProjectTeam
        function confirmProjectTeam() {

            if (!confirm("Czy potwierdzić skład zespołu projektowego ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmProjectTeam", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "team" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
         // withdrawConfirmationOfProjectTeam
        function withdrawConfirmationOfProjectTeam() {

            if (!confirm("Czy wycofać potwierdzenie składu zespołu projektowego ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfProjectTeam", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "team" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
         // confirmEstimatedSales
        function confirmEstimatedSales() {

            if (!confirm("Czy potwierdzić przewidywaną sprzedaż ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmEstimatedSales", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "sales" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // withdrawConfirmationOfCalculation
        function withdrawConfirmationOfEstimatedSales() {

            if (!confirm("Czy wycofać potwierdzenie przewidywanej sprzedaży ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfEstimatedSales", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "sales" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // ConfirmProject
        function confirmProject() {

            if (!confirm("Czy potwierdzić projekt ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmProject", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                        location.reload(true);
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------
        // WithdrawProjectConfimration
        function WithdrawProjectConfimration() {

            if (!confirm("Czy wycofać potwierdzenie projektu ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawProjectConfimration", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                        location.reload(true);
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // ConfirmQualityRequirements
        function confirmQualityRequirements() {

            if (!confirm("Czy potwierdzić wymagania jakościowe ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmQualityRequirements", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "quality" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------
        // ConfirmGeenralRequirements
        function confirmGeneralRequirements() {

            if (!confirm("Czy potwierdzić informacje ogólne ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmGeneralRequirements", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "general" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // WithdrawConfirmationOfQualityRequirements
        function withdrawConfirmationOfQualityRequirements() {

            if (!confirm("Czy wycofać potwierdzenie wymagań jakościowych ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfQualityRequirements", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "quality" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }

        // ------------------------------------------------------------------------------------------------
        // withdrawConfirmationOfGeneralRequirements
        function withdrawConfirmationOfGeneralRequirements() {

            if (!confirm("Czy wycofać potwierdzenie informacji ogólnych ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfGeneralRequirements", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "general" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // ConfirmEconomicRequirements
        function confirmEconomicRequirements() {

            if (!confirm("Czy potwierdzić wymagania ekonomiczne ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmEconomicRequirements", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                    // location.reload(true);
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "economic" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // WithdrawConfirmationOfEconomicRequirements
        function withdrawConfirmationOfEconomicRequirements() {

            if (!confirm("Czy wycofać potwierdzenie wymagań ekonomicznych ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfEconomicRequirements", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                    // location.reload(true);
                        window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "economic" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // ConfirmTechnicalProperties
        function confirmTechnicalProperties() {

            if (!confirm("Czy potwierdzić informacje techniczne ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ConfirmTechnicalProperties", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                    // location.reload(true);
                     window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "technical" })";
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // WithdrawConfirmationOfTechnicalProperties
        function withdrawConfirmationOfTechnicalProperties() {

            if (!confirm("Czy wycofać potwierdzenie informacji technicznych ?"))
                return;
            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("WithdrawConfirmationOfTechnicalProperties", "Project")",
                 data: {
                     id: '@Model.Project.Id'
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                    // location.reload(true);
                    window.location.href = "@Url.Action("Project", "Project",new { id = Model.Project.Id, tab = "technical" })";

                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------
        // WithdrawConfirmationOfTechnicalProperties
        function getNewNumber(categoryId,createdDate) {

            //alert($('#categoryId option:selected').val());
            //alert($('#categoryId option:selected').text());

            // --------------------------------------------
            $.ajax({
                type: 'POST',
                url: "@Url.Action("NewFullNumber", "Project")",
                data: {
                    categoryId:  $('#categoryId option:selected').val(),
                    createdDate: $('#CreatedDate').val()
                },
                success: function (data) {
                    if (data.success) {

                    // akceptacja - zmiany w widoku
                      //  alert(data.number);
                      //  var number = data.number;
                       $('#number').val(data.number);
                       $('#no').val(data.no);
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd');
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji w kontrolerze');
                },
                dataType: 'json',
                cache: false

                });

        }
        // ------------------------------------------------------------------------------------------------

        // ------------------------------------------------------------------------------------------------
        $('#results').on('click', '.item', function () {
            var NestId = $(this).data('id');
            var url = '@Url.Action("Details, Artists")';
            window.location.href = url;
        });
        // ------------------------------------------------------------------------------------------------
    </script>
}

