@model MwProject.Core.ViewModels.ProductGroupViewModel

@{
    ViewBag.Title = Model.Heading;
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h1 class="mb-3 mt-4 display-4">
            @Model.Heading
        </h1>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/single-document.webp")" style="width: 100px;" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 mt-3 mb-2  pb-3 border rounded bg-light">


        @using (Html.BeginForm("ProductGroup", "ProductGroup"))
        {
            if (Model.ProductGroup.Id == 0)
            {
                <p class="alert alert-info mt-4 mb-4">
                    Pole Nazwa jest <strong>wymagane</strong>
                </p>
            }

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ProductGroup.Id)


            @Html.ValidationSummary()

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProductGroup.OrdinalNumber)
                @Html.TextBoxFor(x => x.ProductGroup.OrdinalNumber, new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.ProductGroup.OrdinalNumber)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProductGroup.Name)
                @Html.TextBoxFor(x => x.ProductGroup.Name, new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.ProductGroup.Name)
            </div>

            <button type="submit" class="btn btn-primary   mt-3">Zapisz</button>

            <button type="button" class="btn btn-secondary mt-3"
                    onclick='window.location.href = "@Url.Action("ProductGroups", "ProductGroup")"'>
                anuluj
            </button>

        }

    </div>
</div>



