@model MwProject.Core.ViewModels.ProjectRiskViewModel
@*
    Okno do edycji informacji technicznych przypisanych do projektu
    Wywołane z okna projektu
*@


<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h1 class="mb-3 mt-4 display-4">
            @Model.Heading
        </h1>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/single-document.webp")" style="width: 100px;" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3 mb-2  pb-3 border rounded bg-light">
        <!-- po submit wywoła się metoda ProjectRisk w kontrolerze ProjectRisk typu HttpPost -->
        @using (Html.BeginForm("ProjectRisk", "ProjectRisk"))
        {
            @Html.AntiForgeryToken()

            <!-- Wyświetlenie podsumowania walidacji-->
            @Html.ValidationSummary()

            if (Model.ProjectRisk.Id == 0)
            {
                <p class="alert alert-info mb-4 mt-4">Wszystkie pola są <strong>wymagane</strong> </p>
            }

            @Html.HiddenFor(x => x.ProjectRisk.Id)
            @Html.HiddenFor(x => x.ProjectRisk.ProjectId)


            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProjectRisk.OrdinalNumber)
                @Html.TextBoxFor(x => x.ProjectRisk.OrdinalNumber,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ProjectRisk.OrdinalNumber)
            </div>



            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProjectRisk.Name)
                @Html.TextAreaFor(x => x.ProjectRisk.Name, 2, 40,
               new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProjectRisk.Content)
                @Html.TextAreaFor(x => x.ProjectRisk.Content, 10, 40,
               new { @class = "form-control" })
            </div>

            <button class="btn btn-primary btn-lg" type="submit">
                Zapisz
            </button>

            <button type="button" class="btn btn-secondary btn-sm"
                    onclick='window.location.href = "@Url.Action("Project","Project", new { id = Model.ProjectRisk.ProjectId, tab = "risks" })"'>
                wstecz
            </button>

        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            // w formatowaniu ma być przecinek, a nie kropka
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
        });

    </script>
}

