@model MwProject.Core.ViewModels.CategoryTechnicalPropertyViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

<h2>@Model.CategoryTechnicalProperty.CategoryId</h2>

<div class="row">
    <div class="col-lg-6">
        <!-- po submit wywoła się metoda Calculation w kontrolerze Calculation typu HttpPost -->
        @using (Html.BeginForm("CategoryTechnicalProperty", "CategoryTechnicalProperty"))
        {
            @Html.AntiForgeryToken()

            <!-- Wyświetlenie podsumowania walidacji-->
            @Html.ValidationSummary()

            if (Model.CategoryTechnicalProperty.Id == 0)
            {
                <p class="alert alert-info mb-4 mt-4">Wszystkie pola są <strong>wymagane</strong> </p>
            }

            @Html.HiddenFor(x => x.CategoryTechnicalProperty.Id)
            @Html.HiddenFor(x => x.CategoryTechnicalProperty.CategoryId)

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryTechnicalProperty.OrdinalNumber, new { @class = "form-check-label" })
                @Html.TextBoxFor(x => x.CategoryTechnicalProperty.OrdinalNumber,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryTechnicalProperty.OrdinalNumber)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryTechnicalProperty.TechnicalPropertyId)
                @Html.DropDownListFor(x => x.CategoryTechnicalProperty.TechnicalPropertyId,
               new SelectList(Model.TechnicalProperties, "Id", "Name"),
               "--- Wybierz parametr techniczny ---",
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.CategoryTechnicalProperty.TechnicalPropertyId)
            </div>

            <div class="form-check form-switch mt-3 mb-5">
                @Html.CheckBoxFor(x => x.CategoryTechnicalProperty.Exist, new { @class = "form-check-input" })
                @Html.LabelFor(x => x.CategoryTechnicalProperty.Exist, new { @class = "form-check-label" })
                @Html.ValidationMessageFor(x => x.CategoryTechnicalProperty.Exist)
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryTechnicalProperty.Value)
                @Html.TextBoxFor(x => x.CategoryTechnicalProperty.Value,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryTechnicalProperty.Value)
            </div>



            <div class="form-group mb-3">
                @Html.LabelFor(x => x.CategoryTechnicalProperty.Comment)
                @Html.TextAreaFor(x => x.CategoryTechnicalProperty.Comment,
               new { @class = "form-control" })
            </div>


            <button class="btn btn-primary btn-lg mb-5" type="submit">
                Zapisz
            </button>
        }
    </div>

 
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            // w formatowaniu ma być przecinek, a nie kropka
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
        });

    </script>
}

