@model MwProject.Core.ViewModels.ProjectRequirementViewModel
@* okno edycji wymagania dla projektu *@

@{
    ViewBag.Title = Model.Heading;
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h1 class="mb-3 mt-4 display-4">
            @Model.Heading
        </h1>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/single-document.webp")" style="width: 100px;" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 mt-3 mb-2  pb-3 border rounded bg-light">
        <!-- po submit wywoła się metoda ProjectRequirement w kontrolerze ProjectRequirement typu HttpPost -->
        @using (Html.BeginForm("ProjectRequirement", "ProjectRequirement"))
        {
            @Html.AntiForgeryToken()

            <!-- Wyświetlenie podsumowania walidacji-->
            @Html.ValidationSummary()

            if (Model.ProjectRequirement.Id == 0)
            {
                <p class="alert alert-info mb-4 mt-4">Wszystkie pola są <strong>wymagane</strong> </p>
            }

            @Html.HiddenFor(x => x.ProjectRequirement.Id)
            @Html.HiddenFor(x => x.ProjectRequirement.ProjectId)


            @if (Model.ProjectRequirement.Requirement.Type != 1)
            {

                @Html.HiddenFor(x => x.ProjectRequirement.Value)
                @Html.HiddenFor(x => x.ProjectRequirement.ShowValue)

                @Html.HiddenFor(x => x.ProjectRequirement.RelatedNumbers)
            }

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProjectRequirement.RequirementId)
                @Html.DropDownListFor(x => x.ProjectRequirement.RequirementId,
               new SelectList(Model.Requirements, "Id", "Name"),
               "--- Wybierz parametr ---",
               new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.ProjectRequirement.RequirementId)
            </div>


            <div class="form-check mb-3 col-6">

                <br>

                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(x => x.ProjectRequirement.YesNo, "1",
                   new { @class = "form-check-input" })

                    <label class="form-check-label" for="exampleRadios1"> TAK </label>
                </div>

                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(x => x.ProjectRequirement.YesNo, "2",
                   new { @class = "form-check-input" })

                    <label class="form-check-label" for="exampleRadios1"> NIE </label>
                </div>

                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(x => x.ProjectRequirement.YesNo, "0",
                   new { @class = "form-check-input" })

                    <label class="form-check-label" for="exampleRadios1">  </label>
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProjectRequirement.Comment)
                @Html.TextAreaFor(x => x.ProjectRequirement.Comment,
               new { @class = "form-control" })
            </div>


            @if (Model.ProjectRequirement.Requirement.Type == 1)
            {

                <div class="row">
                    <div class="form-group mb-3 col-6">
                        @Html.LabelFor(x => x.ProjectRequirement.Value)
                        @Html.TextBoxFor(x => x.ProjectRequirement.Value,
                             new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ProjectRequirement.Value)
                    </div>

                    <div class="form-check form-switch mb-5 col-6">
                        <br>
                        @Html.CheckBoxFor(x => x.ProjectRequirement.ShowValue, new { @class = "form-check-input" })
                        @Html.LabelFor(x => x.ProjectRequirement.ShowValue, new { @class = "form-check-label" })
                        @Html.ValidationMessageFor(x => x.ProjectRequirement.ShowValue)
                    </div>
                </div>
            }





            <div class="form-group mb-3">
                @Html.LabelFor(x => x.ProjectRequirement.Link)
                <div class="input-group mb-3">
                    @Html.TextBoxFor(x => x.ProjectRequirement.Link,
                   new
                        {
                       @class = "form-control",
                       placeholder = "link",
                       aria_label = "Recipient's username",
                       aria_describedby = "button-addon2",
                       autofocus = "autofocus",
                       id = "link"
                       })
                    <button class="btn btn-secondary" type="button" id="button-addon2" onclick="showPlanner()">pokaż</button>
                </div>
                @Html.ValidationMessageFor(x => x.ProjectRequirement.Link)
            </div>


            @if (Model.ProjectRequirement.Requirement.Type == 1)
            {
                <div class="form-group mb-3">
                    @Html.LabelFor(x => x.ProjectRequirement.RelatedNumbers)
                    @Html.TextBoxFor(x => x.ProjectRequirement.RelatedNumbers,
                         new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProjectRequirement.RelatedNumbers)
                </div>
            }

            <button class="btn btn-primary mt-3" type="submit">
                Zapisz
            </button>

            <button type="button" class="btn btn-secondary mt-3"
                    onclick='window.location.href = "@Url.Action("Project","Project", new { id = Model.ProjectRequirement.ProjectId, tab = Model.Tab })"'>
                wstecz
            </button>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            // w formatowaniu ma być przecinek, a nie kropka
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }
        });

        // ------------------------------------------------------------------------------------------------
        function showPlanner() {
            let linkToPlanner = $('#link').val();
            window.open(linkToPlanner);
            return;
        }
                    // ------------------------------------------------------------------------------------------------

    </script>
}

