@model MwProject.Core.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Użytkownicy";
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h2 class="mb-3 mt-4 display-4">
            @ViewData["Title"]
        </h2>
    </div>

    <div class="col-2">
        <div class="mt-4 mb-4 text-muted">
            <img src="@Url.Content("~/images/users.png")" style="width: 100px;" />
        </div>
    </div>
</div>

@*Filtrowanie*@
<div class="p-3 mb-2 bg-light border rounded">
    <form id="filterForm" class="row gy-2 gx-3 align-items-center">


        <div class="col-3">
            @Html.LabelFor(x => x.UsersFilter.UserName)
            @Html.TextBoxFor(x => x.UsersFilter.UserName,
              new { @class = "form-control", placeholder = "Nazwa użytkownika" })
        </div>
              

        <div class="col-1">
            <button type="submit" class="btn btn-outline-success">Filtruj</button>
        </div>

    </form>
</div>

@* tabela z listą użytkowników *@
<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("_UsersTablePartial.cshtml", Model)
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        // ------------------------------------------------------------------------------------------------------
        // funkcja zostanie wywołana gdy zostanie załadowany już cały widok

        $(document).ready(function () {
        // najpierw zaznaczamy formularz o id = filterForm
        // chcemy aby po kliknięci przycisku zostałą wywołana taka funkcja
        // a chcemy, żeby za pomocą ajax'a została wywołana odpowiednia funkcja z kontrolera
        // przesyłamy zserializowane dane z tego formularza
        // jeżeli zakończone sukcesem, to zostanie zwrócona tabelka z widoku częściowego

            $('#filterForm').submit(function () {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("Users","User")",
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#usersTable').html(data);
                    },
                    error: function (data) {
                        alert(data.message + ' filter ')
                    },
                    dataType: "html"
                });
                // return false konieczne aby nie wykonał się jeszcze raz submit
                return false;
            });
        });

        // ------------------------------------------------------------------------------------------------------

        // Usuwanie kategorii
        function deleteUser(id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć użytkownika ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteUser", "User")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
        function resetPassword(id, btn) {
            if (!confirm("Czy na pewno chcesz zresetować hasło ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("ResetPassword", "User")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        alert('hasło zostało zresetowane')
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
    </script>
}
