@model MwProject.Core.ViewModels.TechnicalPropertyViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>


@using (Html.BeginForm("TechnicalProperty", "TechnicalProperty"))
{
    <p class="alert alert-info mt-4 mb-4">
        Pole Nazwa i Opis jest <strong>wymagane</strong>
    </p>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.TechnicalProperty.Id)
    @Html.HiddenFor(x => x.TechnicalProperty.OrdinalNumber)


    @Html.ValidationSummary()

 
    <div class="form-group mb-3">
        @Html.LabelFor(x => x.TechnicalProperty.Name)
        @Html.TextBoxFor(x => x.TechnicalProperty.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.TechnicalProperty.Name)
    </div>

    <button type="submit" class="btn btn-primary btn-lg mt-2">Zapisz</button>

}



