@model MwProject.Core.ViewModels.CategoryViewModel
@using MwProject.Core.Models.Enums
@* Widok częściowy z wymaganiami powiązanymi z projektem *@

@{
    int typeOfRequirement = (int)RequirementType.Economic;
    var requirements = Model.Category.CategoryRequirements.Where(x => x.Requirement.Type == typeOfRequirement).OrderBy(x => x.OrdinalNumber);
}


<div class="row">
    <div class="row g-0">
        <div class="col-12">
            <h4>domyślne informacje ekonomiczne</h4>
        </div>

        <div class="col-12">
            <button class="btn btn-success btn-sm"
                    onclick='window.location.href = "@Url.Action("CategoryRequirement","CategoryRequirement",new { categoryId = Model.Category.Id, type = typeOfRequirement})"'>
                Dodaj
            </button>
        </div>

    </div>


    @if (requirements != null && requirements.Any())
    {

        <table class="table table-hover table-striped  mt-3 mb-5">

            <thead class="table-primary">
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Tak/Nie</th>
                    <th scope="col">Komentarz</th>
                    <th scope="col">Wartość</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var position in requirements)
                {
                    <tr>
                        <td>
                            <a class="font-weight-bold"
                               href="@Url.Action("CategoryRequirement", "CategoryRequirement", new { categoryId = position.CategoryId, id = position.Id, type = typeOfRequirement})">
                                <strong>
                                    @position.OrdinalNumber
                                </strong>
                            </a>
                        </td>

                        <td>
                            <a class="font-weight-bold"
                               href="@Url.Action("CategoryRequirement", "CategoryRequirement", new { categoryId = position.CategoryId, id = position.Id, type = typeOfRequirement})">
                                <strong>
                                    @position.Requirement.Name
                                </strong>
                            </a>
                        </td>

                        @{
                            string exist;
                            switch (position.YesNo)
                            {
                                case 1:
                                    exist = "TAK";
                                    break;
                                case 2:
                                    exist = "NIE";
                                    break;
                                default:
                                    exist = "";
                                    break;
                            }

                            string value = position.ShowValue == true ? position.Value.ToString() : "";
                        }

                        <td>@exist</td>
                        <td>@position.Comment</td>
                        <td>@value </td>

                        <td align="right">
                            <button class="btn btn-outline-danger btn-sm"
                                    onclick="deleteCategoryRequirement('@position.CategoryId','@position.Id',this)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>

@section scripts
{
    <script type="text/javascript">
                  // wszystkie skrypty w widoku z którego został wywołany ten widok częściowy
                  // deleteProjectRequirement()
    </script>
}