@model MwProject.Core.ViewModels.RequirementsViewModel

@{

    string title;

    switch (Model.Type)
    {
        case 1:
            title = "Słownik Informacji Ekonomicznych";
            break;
        case 2:
            title = "Słownik Informacji Jakościowych";
            break;
        case 3:
            title = "Słownik Informacji Ogólnych";
            break;
        default:
            title = "Słownik Informacji";
            break;
    }

    ViewData["Title"] = title;
}

<!-- Nagłówek -->
<div class="row">
    <div class="col-10">
        <h2 class="mb-3 mt-4 display-4">
            @title
        </h2>
    </div>

    <div class="col-2">
        <div class="mt-2 mb-4 text-muted">
            <img src="@Url.Content("~/images/dictionary.png")" style="width: 100px;" />
        </div>
    </div>
</div>

<button class="btn btn-primary btn-lg mt-3 mb-3"
        onclick='window.location.href = "@Url.Action("Requirement","Requirement", new {id = 0, type = Model.Type})"'>
    Dodaj pozycję
</button>


<div id="reguirementTable">
    <table class="table mt-3 table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Lp</th>
                <th scope="col">Nazwa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Requirements.Any())
            {
                foreach (var requirement in Model.Requirements)
                {
                    <tr>
                        <td>
                            <strong>
                                <a href="@Url.Action("Requirement", "Requirement",
                                    new { id = requirement.Id, type = Model.Type })"
                                   class="font-weight-bold">@requirement.OrdinalNumber</a>
                            </strong>
                        </td>
                        <td>
                            <strong>
                                <a href="@Url.Action("Requirement", "Requirement",
                                    new { id = requirement.Id, type = Model.Type  })"
                                   class="font-weight-bold">@requirement.Name</a>
                            </strong>
                        </td>
                        <td>
                            @if (Model.CurrentUser.SuperAdminRights)
                            {
                                <button class="btn btn-outline-danger btn-sm"
                                        onclick="deleteRequirement('@requirement.Id',this)">
                                    Usuń
                                </button>
                            }

                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Brak wymagań
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts
{
    <script type="text/javascript">

        // Usuwanie wymagania
        function deleteRequirement(id, btn) {
            if (!confirm("Czy na pewno chcesz wymaganie ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteRequirement", "Requirement")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
    </script>
}
